body {
  font-family: Arial, sans-serif;
  background-color: #ffff;
  /* margin: 2rem; */
  padding: 0;
}

a {
  text-decoration: none;
  color: #EB5EA4;
}

header{
  padding:  2rem;
  background-image: radial-gradient(circle, #EEAECA 0%, #F2FFD9 100%);
 }

.icon {
  float:left;
}
.nav-links {
  float:right;
  padding: 1rem;
}



.banner {
  background-image: radial-gradient(circle, #EEAECA 0%, #F2FFD9 100%);
  color: #EB5EA4;
  font-size: 2rem;
  padding:2rem;
}

.margin-text {
  margin: 2rem;
}


/* project card  */
.project-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}


.project-card-image-container {
  width: 100%; 
  height: 400px; 
  overflow: hidden; 
  position: relative; 
}

.project-card-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center; 
}

/* Responsive image */
@media (max-width: 768px) {
  /* For tablets and below */
  .project-card-image-container {
    height: 150px; 
  }
}

.project-image {
  width: 100%;
  height: auto;
}

.project-content {
  padding: 1rem;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding: 1rem; */
}

.project-page-image-container {
  width: 70%;
  height: auto; 
  overflow: hidden; 
  display:flex; 
  justify-content: center;
  align-items:center;
  margin: 0 auto;
  border-radius: 12px;
}


.project-page-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center; 
}